<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Symfony Todo Sample{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('static/css/style.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
      {{ include('Layouts/header.html.twig') }}
      <main id="main">
        {% block body %}{% endblock %}
      </main>
      {{ include('Layouts/footer.html.twig') }}
      {% block javascripts %}{% endblock %}
    </body>
</html>
