{% extends 'base.html.twig' %}

{% block body %}
<section>
  <h2>todos</h2>
  <ul class="m-todos">
    {% for todo in todos %}
    <li class="m-todos-item l-table">
      <div class="m-todos-item__title l-table-cell">
        {{ todo.name }}
      </div>
      <div class="m-todos-item__menu l-table-cell">
        <a class="m-btn" href="{{ path("todos_show", {"id": todo.id}) }}">Edit</a>
      </div>
    </li>
    {% endfor %}
  </ul>
  <a href="#">Create Todo</a>
</section>
{% endblock %}
