{% extends 'layout.html.twig' %}

{% block body %}
<div>
  <ul>
    <li><a href="{{ path("todos_index") }}">TOP</a></li>
  </ul>
</div>
<section>
  <div>
    担当者:{{ user.username() }}
  </div>
  <div>
    {{ form(form) }}
  </div>
</section>
{% endblock %}

